<div class="admin-page">
    <header></header>

    <div class="h-100">
        <div class="col-sm-9 no-pad h-100">
            <div id="admin-main">
                <div class="padder b-b text-right">
                    <button class="btn btn-primary" >Add Spot &nbsp; <i class="fa fa-plus"></i></button>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="spot" style="background-image: url(img/1.jpg)">
                                <div class="_details">
                                    <h3>Bogobiri</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="spot" style="background-image: url(img/1.jpg)">
                                <div class="_details">
                                    <h3>Bogobiri</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="spot" style="background-image: url(img/1.jpg)">
                                <div class="_details">
                                    <h3>Bogobiri</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="spot" style="background-image: url(img/1.jpg)">
                                <div class="_details">
                                    <h3>Bogobiri</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="spot" style="background-image: url(img/1.jpg)">
                                <div class="_details">
                                    <h3>Bogobiri</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="spot" style="background-image: url(img/1.jpg)">
                                <div class="_details">
                                    <h3>Bogobiri</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="spot" style="background-image: url(img/1.jpg)">
                                <div class="_details">
                                    <h3>Bogobiri</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="spot" style="background-image: url(img/1.jpg)">
                                <div class="_details">
                                    <h3>Bogobiri</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3 no-pad h-100">
            <div id="side">
                <div class="padder b-b">
                    <input type="text" class="text-box"/>
                </div>

                <ul class="categories">
                    <li>Thai <span class="pull-right"><i class="fa fa-trash-o" ></i></span></li>
                    <li>Chinese <span class="pull-right"><i class="fa fa-trash-o" ></i></span></li>
                    <li>Nigerian <span class="pull-right"><i class="fa fa-trash-o" ></i></span></li>
                    <li>Swallow <span class="pull-right"><i class="fa fa-trash-o" ></i></span></li>
                    <li>Jollof Rice <span class="pull-right"><i class="fa fa-trash-o" ></i></span></li>
                    <li>Drinks <span class="pull-right"><i class="fa fa-trash-o" ></i></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>