
<div class="bg"></div>
<div class="mobile-overlay"></div>
<div id="main">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="card">
					<div class="card-inner">
						<ul class="messages">
							<li ng-repeat="msg in messages"  class="msg {{ msg.type }}">
								<p class="msg-text">{{ msg.text }}</p>
							</li>
							<a id="bottom"></a>
						</ul>
					</div>

					<!--<div class="textbox-wrap">-->
						<input type="text" ng-model="currentUserMsg" class="text-box" placeholder="type here ..." my-enter="addMessage()" autofocus>
					<!--</div>-->
				</div>
			</div>
		</div>
	</div>
</div>