@import 'fonts';


html, body, .bg, .tall, .h-100{
	height: 100%;
}

body{
	font-family: 'Avenir';
	font-size: 16px;
	position: relative;
}

.bg{
	/*background-image: linear-gradient(90deg, rgb(142, 68, 173) 25%, rgb(22, 160, 133) 100%);
	background-image: -moz-linear-gradient(left, rgb(142, 68, 173) 25%, rgb(22, 160, 133) 100%);
	background-image: -webkit-linear-gradient(left, rgb(142, 68, 173) 25%, rgb(22, 160, 133) 100%);
	background-image: -o-linear-gradient(left, rgb(142, 68, 173) 25%, rgb(22, 160, 133) 100%);
	background-image: -ms-linear-gradient(left, rgb(142, 68, 173) 25%, rgb(22, 160, 133) 100%);*/

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e44ad+0,179f85+100 */
	background: #8e44ad; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #8e44ad 0%, #179f85 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #8e44ad 0%,#179f85 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #8e44ad 0%,#179f85 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e44ad', endColorstr='#179f85',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
}

.mobile-overlay{
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 100%;
}

#main{
	position: fixed;
	bottom: 30px;
	width: 100%;
}

.card{
	background-color: #e8e8e8;
	//padding: 20px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 30px rgba(0,0,0,0.15);
	height: 90vh;
	position: relative;
}

.card-inner{
  padding: 15px;
  position: absolute;
  width: 100%;
  bottom: 20px;
  max-height: 95%;
  overflow: scroll;
}

ul.messages{
	
	//position: absolute;
	//bottom: 30px;
	//left: 15px;
	//padding-right: 15px;
	padding-left: 0;
	// width: 100%;
	/*background-color: #fff;*/
}

.text-box{
	display: block;
	padding: 10px 15px;
	background-color: #fff;
	outline: none;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	width: 100%;

  	position: absolute;
  	bottom: 0;
}


.msg{
	background-color: #fff;
	padding: 15px 30px 5px 30px;
	list-style: none;
	border-radius: 25px;
	// display: inline-block;
	margin-bottom: 30px;
	

	&.sent{
		// float: right;
		margin-left: 150px;

		text-align: right;
		background-color: #92d559;
		color: #fff;
		border-bottom-right-radius: 0px;
	}

	&.rcvd{
		margin-right: 150px;
		background-color: #2977e5;
		color: #fff;
		border-bottom-left-radius: 0px;
	}
}

@media (max-width: 768px){
	.card{
		background-color: transparent;
		box-shadow: none;
		height: 95vh;
	}
}

@media (max-width: 529px){

	#main{
		bottom: 10px;
	}

	.texbox-wrap{
		bottom: 20px;
	}


	ul.messages{
		bottom: 60px;
	}

	.msg{
		display: block;
	  	width: 100%;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);
	}

	.msg.sent{
		margin-left: 0px;
	  	display: block;
	}

	.msg.rcvd{
		margin-right: 0px;
	  	display: block;
	}
}


.admin-page{

  height: 100vh;
  overflow: hidden;

  header {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
	height: 70px;
	background-color: #121212;
	z-index: 999;
	border-bottom:  2px solid #dee5e7;
  }

  #admin-main{
	background-color: #edf1f2;
	//background-color: #dee5e7;
	height: 90vh;
	overflow: scroll;
	width: 100%;
  }
  
  .btn.btn-primary{
	background-color: #56b707;
	border-color: #56b707;
	
	&:hover{
	  background-color: #70c22d;
	  border-color: #70c22d;
	}
  }

  .spot{
	position: relative;
	background-color: #fff;
	height: 240px;
	margin: 15px 0;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
	border-radius: 3px;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	._details{
	  position: absolute;
	  bottom: 0px;
	  left: 10px;
	  color: #fff;
	  z-index: 999;
	}
  }

  .spot:after {
	content: '';
	position: absolute;
	width: 100%;
	height: inherit;
	border-radius: 3px;
	top: 0;
	left: 0;
	//background:  linear-gradient(rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.0),  rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 1));
	//background:  linear-gradient(rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.0),  rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 1));
	background: rgba(0, 0, 0, 0.5);
	z-index: 222;
  }

  #side{
	background-color: #f6f8f8;
	border-left: 1px solid #ccc;
	height: 90vh;
	overflow: scroll;

	.text-box{
	  position: relative;
	  font-size: 14px;
	  padding: 6px 12px;
	}

	ul{
	  padding: 0;
	}
	
	li{
	  list-style: none;
	  padding: 10px 15px;
	  border-bottom: 1px solid #eee;
	}
  }
}


.no-pad{
  padding: 0;
}

.b-b{
  border-bottom: 1px solid #dee5e7;
}

.b-dark{
  border-color: #ccc;
}

.padder{
  padding: 15px;
}


.padder-v{
  padding: 15px 0;
}







